


    <div class="main-first-info">
      <h1>Добро пожаловать</h1>
      <h3>Будущее начинается вместе с нами</h3>
      <div class="main-welcome-video">

        <div class="overlay">
          <a class="play-button" id="play"></a>
        </div>
        <iframe width="100%" height="600" id="vdeo"src="https://www.youtube.com/embed/UuTShQ9pnLY" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>

    <div class="main-first-info">
      <h1>Наши партнеры</h1>
      <div class="companies-content">
        <div class="itemx">
          <%=image_tag "yandex.png" %>
        </div>
        <div class="itemx">
            <%=image_tag "sdu.png" %>
        </div>
        <div class="itemx">
            <%=image_tag "google.png" %>
        </div>
        <div class="itemx">
            <%=image_tag "method.png" %>
        </div>
      </div>
    </div>

    <div class="main-first-info">
      <h1>Наше сообщество</h1>
      <p>“Школа программирования Method. Сначала мы долго переживали, что школа не открывается, потом долго переживали, что не подходим по возрасту, но вчера моя девятилетняя деточка пошла на первый урок и к концу урока напрограммировала две (мне такое в девять лет и не снилось ))))) игры. Счастью нет предела! ))) Огромное спасибо талантливым ребятам, которых, к сожалению, я всех не знаю лично.”</p>
    </div>

    <div class="main-first-info">
      <h1>Наши программы</h1>
    </div>

        <div class="container-fluid main">
          <div class="row">
            <div class="coursesx lefted animated bounce">

              <% @courses.each do |course| %>

                <div class="item end">
                  <div class="top">
                    <% if current_user.present? %>
                      <div id="follow_status_<%= course.id %>" class="follow_status">
                        <% if @userToCourses.exists?(course_id: course, user_id: current_user) %>
                          <% if @userToCourses.find_by_course_id(course.id).progress != 1 %>
                            <%= @processOfLessons.where(user_to_course_id: @userToCourses.find_by_course_id(course.id)).size.to_f/@lessons.where(course_id: course).size*100  %>%
                          <% end %>
                        <% end %>
                        <%= render "partials/follow_status", object: course %>
                      </div>
                    <% end %>
                  </div>

                  <div class="middle">
                    <h4><%= link_to course.name, course, class:"course-name" %></h4>
                  </div>

                  <div class="border"></div>

                  <div class="desc">
                    <p><%=course.subtitle%></p>
                  </div>

                  <div class="bottomblue bottombluex">



                    <% if current_user.present? && current_user.admin? %>
                      <%= link_to "Edit", edit_course_path(course), class: "admin-button" %>
                      <%= link_to "Delete", course, method: :delete, data:	{confirm: "You sure?"}, class: "admin-button" %>
                    <% end %>

                  </div>
                </div>

              <% end %>

            </div>

          </div>

        </div>
    <div class="contactus">
      <h1>Наши программы</h1>
      <h3>Если у вас есть какие либо вопросы или предложения. Если вам нужно помочь. Звоните нам в любое время</h3>
    </div>



    <script type="text/javascript">

      $("#play").click(function(){
        $(".overlay").attr('class', 'hidden');
      });


    </script>
