<% if user_signed_in? %>

<%= render "partials/helper",  message1: "ВЫ ПРОСТО СУПЕР", message2: "ВАШИ УСПЕХИ ГОВОРЯТ ОБ ЭТОМ"%>

<% end%>
<br>
<div class="allofme">
  <div class="container-fluid">

      <div class="row program program2">


        <div class="container-fluid up">
              <div class="row">

                <div class="block1 col-xs-12 col-sm-6 col-md-8">
                    <div class="profileimg">
                      <%= image_tag current_user.avatar.url, class: 'avatarx'%>

                      <h4><%= current_user.first_name %> <%= current_user.last_name %></h4>
                      <a href="<%= edit_user_registration_path %>" class="btn btn-default" style="border-radius:3px;display:block;width:200px;margin:10px auto;">Изменить профиль</a>
                      
                      <a href="<%= certificates_path %>" class="btn btn-default" style="border-radius:3px;display:block;width:200px;margin:10px auto;">Мои сертификаты</a>
                    </div>
                </div>

                <div class="block2 col-xs-6 col-md-4">
                  <div class="x">

                    <div class="z">
                      <% count = 1 
                        hash = Hash.new
                        @users.each do |user|
                          hash[user] =  ProcessOfLesson.where(user_to_course_id: UserToCourse.where(user_id: user)).sum(:point) 
                        end
                        hash = hash.sort_by {|_key, value| value} %>
                        
                      <% hash.sort_by {|_key, value| value}.reverse.each do |key, value|%>
                        <% if key != current_user %>
                          <%=image_tag key.avatar.url, class: 'lion', width:"80px", height:"80px" %>
                        <% else %>
                          <div class="overlay">
                           
                            <div class="imageee">
                              <p style="position:relative;top:50px;z-index:12;color:white;"><%="Это вы"%></p>
                              
                              <%=image_tag key.avatar.url, width:"80px", class: 'lion my',height:"80px" %>
                            </div>
                          </div>
                        <%end%>
                        <p class="place" style="margin-top:-3px;"><%= count%> </p>
                        
                        <% count += 1 %>
                      <%end%>
                    </div>
                  </div>
                  <div class="x2">
                    <p class="ratingg">РЕЙТИНГ</p>
                    <p class="sleva">Слева преведен рейтинг лучших учеников<br> нашего сайта</p>
                  </div>
                </div>



          </div>
        </div>
      </div>
    </div>
</div>




<div class="courses-title">
  <h4>Курсы которые я прохожу</h4>
</div>
<div class="coursesx lefted">

  <% @unfinished_courses.each do |unfinished_course| %>
    <% course = @courses.find(unfinished_course.course_id) %>
    <% counter = 1%>
    <div class="item end">
      <div class="top">
        <div id="follow_status_<%= course.id %>" class="follow_status">
          <%= render "partials/follow_status", object: course %>
        </div>
      </div>
      <div class="middle">
        <h4><%= link_to course.name, course, class:"course-name" %></h4>
      </div>
      <div class="border"></div>
      <div class="desc">
        <p><%=course.description%></p>
      </div>
      <div class="bottomblue bottombluex">

        <p><%= @processOfLessons.where(user_to_course_id: @userToCourses.find_by_course_id(course.id)).size.to_f/@lessons.where(course_id: course).size*100%>%</p>


        <div class="raiting">

         <div class="progress-background" >
            <div class="progress-contents"  id="progress-bar<%=counter%>">


            </div>
          </div>

          <input type="hidden" name="" id="progress-value<%=counter%>" value="<%= @processOfLessons.where(user_to_course_id: @userToCourses.find_by_course_id(course.id)).size.to_f/@lessons.where(course_id: course).size*100%>">
          <%counter+=1%>

        </div>
      </div>

    </div>
  <% end %>
</div>

<div class="clear"></div>

<div class="courses-title">
  <h4>Курсы которые я прошел</h4>
</div>

<div class="allofme2">
  <div class="coursesx">

      <% @finished_courses.each do |finished_course|%>
        <% course = @courses.find(finished_course.course_id) %>
        <div class="item end">
          <div class="top">
            <div id="follow_status_<%= course.id %>" class="follow_status">
              <%= link_to 'ПОВТОРИТЬ КУРС', lesson_path(course.lessons.first), class:"btn btn-default" %>
            </div>
          </div>
          <div class="middle">
            <h4><%= link_to course.name, course, class:"course-name" %></h4>
          </div>
          <div class="border"></div>
          <div class="desc">
            <p>Основы iOS программирования для новичков. Базовые знания языка и UI элементов</p>
          </div>
          <div class="bottomblue">
            <div class="raiting">
             <%= image_tag("Star-filled.png")%>
              <%= image_tag("Star-filled.png")%>
              <%= image_tag("Star-filled.png")%>
              <%= image_tag("Star-filled.png")%>
              <%= image_tag("Star-unfilled.png")%>
            </div>
          </div>
        </div>
    <%end%>

  </div>
</div>


<script type="text/javascript">
  $(".progress-contents").each(function(i, obj){
    console.log(obj.id);
    $("#"+obj.id).animate({width: ""+$("#progress-value"+(i+1)).val()+"%"},500);
  });
</script>
