<div class="add-new">
  
  <%= form_for @part  do |s| %>
  <div class="sub_category_creating">
    <%= s.label :name %><br>
    <%= s.text_field :name %>
  </div>
  <div class="sub_category_creating">
    <%= s.hidden_field :course_id, :value => params[:course_id] %>
  </div>
  <div class="sub_category_creating">
    <%= s.submit "Create Part", class:"btn btn-default" %>
  </div>
  <% end %>

</div>
