<% if @task.errors.any? %>
  <ul>
  <% @task.errors.full_messages.each do |m| %>
    <li><%= m %></li>
  <% end %>
  </ul>
<% end %>

<%= form_for @task do |f| %>
  <%= f.text_field :content %>
  <%= f.text_field :answer %>
  <%= f.submit "Edit" %>
<% end %>
