<%= form_for @task  do |s| %>
<div class="sub_category_creating">
  <%= s.label :content %>
  <%= s.text_field :content %>
</div>
<div class="sub_category_creating">
  <%= s.label :answer %>
  <%= s.text_field :answer %>
</div>
<div class="sub_category_creating">
  <%= s.hidden_field :lesson_id, :value => params[:lesson_id] %>
</div>
<div class="sub_category_creating">
  <%= s.submit "Create Lesson" %>
</div>
<% end %>