<body>
  <div class="add-new">
    <%= form_for @task  do |s| %>
    <div class="sub_category_creating">
      <%= s.label :Задание %><br>
      <%= s.text_field :content %>
    </div>
    <div class="sub_category_creating videomrg">
      <%= s.label :Ответ %><br>
      <%= s.text_field :answer %>
    </div>
    <div class="sub_category_creating videomrg">
      <%= s.label "Невидимый код" %><br>
      <%= s.text_area :invisible_code %>
    </div>
    <div class="sub_category_creating">
      <%= s.hidden_field :lesson_id, :value => params[:lesson_id] %>
    </div>
    <div class="sub_category_creating">
      <%= s.submit "Create Lesson", class:"btn btn-default btnex" %>
    </div>
    <% end %>

  </div>
  
</body>
