<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-group">
    <label for="exampleInputEmail1">Электронная почта</label>
    <%= f.email_field :email, autofocus: true, class: "form-control", id: "exampleInputEmail1", placeholder: "Почта"%>
  </div>

  <div class="form-group">
    <label for="exampleInputPassword1">Пароль</label>
    <%= f.password_field :password, autocomplete: "off", class: "form-control", id: "exampleInputPassword1", placeholder: "Пароль" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="checkbox">
      <label>
        <%= f.check_box :remember_me %> Запомнить меня
      </label>
    </div>
  <% end -%>

  <div class="submit">
    <%= f.submit "Войти в систему", class: "btn btn-default submitx", href: "profile.html"%>
  </div>
<% end %>

<!--<#%= render "users/shared/links" %>-->
