<input id="whichlang" type="hidden" value="<%= Course.find(@lesson.course_id).language %>"></input>
<input class="answersx" type="hidden" value="<%=@tasks.each.to_json%>"></input>


<% if UserToCourse.exists?(course_id: @lesson.course_id,user_id: current_user.id) %>
    <input id="user_to_course_id" type="hidden" value="<%= UserToCourse.find_by(course_id: @lesson.course_id,user_id: current_user.id).id %>"></input>
<% else %>



<input id="user_to_course_id" type="hidden" value="<%nil%>"></input>
<% end %>
<input id="lesson_id" type="hidden" value="<%=@lesson.id%>"></input>



<script type="text/javascript">


$("#clear").click(function(){
  document.getElementById("console_output").innerHTML = "";
});
$("#closeSuccess").click(function(){
      $(".success_panel").fadeOut( 500, function() {});
});
var language_code = $("#whichlang").val();
var answersx =  $(".answersx").val();
var answers = JSON.parse(answersx);
var dict = [];
var progress = 0;

console.log(dict);


for(i in answers){
    dict.push({
        key:   answers[i],
        value: false
    });
}

console.log(dict);

$("#button"+ language_code ).click(function(){
   codex = document.getElementById('console').value;
   
  $('.ivsCode').each(function() {
        codex = codex +"\n"+ $(this).val();
   });
      
 
  
  
  $("#button"+ language_code ).prop('disabled', true);
  $.ajax({
      type: "POST",
      url: "/pythonsave",
      data: {
        code:codex,
        language:language_code,
       
      },
      success:function(data){
        $("#button"+ language_code ).prop('disabled', false);
        if(data.result.message == "Success"){
            
            console.log(data);
            document.getElementById("console_output").innerHTML += "<p> > "+data.result.stdout+"</p>";
            task_number = answers.length;
            console.log(task_number);
            myanswerlist = data.result.stdout.toString().toLowerCase().trim().split("\n");
            for(var i in answers) {
              answer = dict[i].key.answer;
              myanswer = myanswerlist[i];
              console.log(myanswer);
              if(myanswer == answer.toLowerCase().trim()){
                
                dict[i].value = true;

                $.ajax({
                    url:'/process_of_lesson',
                    type:'POST',
                    data:{
                        user_to_course_id: document.getElementById("user_to_course_id").value,
                        lesson_id: document.getElementById("lesson_id").value
                    },
                    success:function(data){
                        $(".success_panel").html("<%=escape_javascript(render 'partials/show_success_panel')%>");
                        
            
                    },
                    error:function(data){
                       
                    }
                });
                    
               


                 
                 for(j in dict){
                     if(dict[j].value == true){
                         progress += 1;
                     }else {
                         progress -= 1;
                     }
                 }
                 
                 if(progress == task_number){
                    //  alert("Урок завершен");
                     $(".success_panel").fadeIn( 500, function() {
                        progress = 0;
                     });
                 }
                // *************************************
                //           ТУПОЙ БЕКЖАН
                // Пиши свой код сюда тут он понимает что ответ верный
                
                
                
                // *************************************
                
               }else if(myanswer != answer) {
                  console.log(dict);
                  console.log("Выполните все пункты из заданий");
               }
            }
          
        
        }else {
             console.log(data);
             if(data.result.compilemessage == ""){
               document.getElementById("console_output").innerHTML += "<p class='error'> > "+data.result.stderr+"</p>";
      
             }else {
               document.getElementById("console_output").innerHTML += "<p class='error'> > "+data.result.compilemessage+"</p>";
             }
            
        }
      },
        error:function(data){
            console.log(data);
            document.getElementById("console_output").innerHTML += "<p> > "+data.result.stdout+"</p>";
        }
    });


});





</script>




<script type="text/javascript">
    $('.my-code-area').ace({ theme: 'twilight', lang: 'ruby'});
    
</script>