

<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" id="myModal" aria-labelledby="myLargeModalLabel">
<div class="modal-dialog modal-lg" role="document">
<div class="modal-content">
<center><%=image_tag "lion.png", width:"90px", height:"90px", class:'logoup' %></center>
<% @parts.each do  |part|%>
          <div class="closebtn" id="closebtn">
            <button type="button" name="button" class="btn btn-default">
               <span  class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
            </button>
          </div>
         <ul>
           <center><li>
           <%= link_to part.name, part, class:"parts-name" %>

         </li><center>
       </ul>
         <% part.lessons.each do  |lesson|%>

           <ul>
             <li>
               <div class="achievement2">
                 <h5>68%</h5>
                 <div class="mypro"id="myProgress2">
                 <div id="myBar2"></div>
               </div>
             <% @usertocourses.each do  |usertocourse|%>
               <%if @procesessOfLessons.where(user_to_course_id: usertocourse.id ).size >0%>
                 <% @procesessOfLessons.where(user_to_course_id: usertocourse.id ).each do  |processOfLessons|%>
                   <%if processOfLessons.lesson_id == lesson.id %>
                   <%= link_to lesson.name, lesson, class:"lessons-name" %>
                    <p style="color:red;">DONE</p>
                   <%else%>
                   <%= link_to lesson.name, lesson, class:"lessons-name" %>
                   <%= lesson.point %>
                   <%end%>
                 <%end%>
               <%else%>
                 <%= link_to lesson.name, lesson, class:"lessons-name" %>
                 <%= lesson.point %>
               <%end%>

             <%end%>
             </li>
           </ul>
         <% end %>

     <% end %>
        </div>
    </div>
</div>

<script>

    $("#closebtn").click(function(){
        $('#myModal').modal('hide');
    });
</script>
