<% if @lesson.errors.any? %>
  <ul>
  <% @lesson.errors.full_messages.each do |m| %>
    <li><%= m %></li>
  <% end %>
  </ul>
<% end %>

<%= form_for @lesson do |f| %>
  <%= f.text_field :name, placeholder: "Name of lesson"%>
  <%= f.text_area :exist_code, placeholder: "Exist Code" %>
  <%= f.submit "Edit" %>
<% end %>
