<script>
   
    $.ajax({
        type: "GET",
        dataType: "json",
        url: "/getlanguages",
        success: function(data){
            // console.log(data);
            var lang = []; // create an empty array

            
            
             for(var key in data.languages.codes) {
              
                lang.push({
                    key:   data.languages.codes[key],
                    value: data.languages.names[key]
                });
             }
             
            for(var i in lang) {
              var dict = lang[i].key;
              if($("#button"+lang[i].key).length){
                  
                  $("#button"+lang[i].key).html(lang[i].value);
                  
              }
              
            }
              
            
        }
    }); 
    
</script>


<% if current_user.present? && current_user.admin? %>
  <div class="add-part-button">
    <%= link_to 'Добавить теорию', new_theory_path(:lesson_id => @lesson.id) %>
  </div>
  
  <div class="add-part-button">
    <%= link_to 'Добавить задание', new_task_path(:lesson_id => @lesson.id) %>
  </div>
<% end %>


<div class="lesson">
  <div class="col-md-2 taskpanel">
    <div class="lesson-name-block"><h3><%= @lesson.name %></h3></div>
    <div class="clear"></div>

    <div class="taskpanel2">
      <div class="part1">
        <h4>ТЕОРИЯ</h4>
        <ul>
          <% counter = 1%>
          <% @theories.each do  |theory|%>
            <li><%=counter%>. <%= theory.content %></li>
            <% counter+=1%>
            <% end %>
            <% @theories.each do  |theory|%>
            <li><%=theory.video%></li>
            <% if current_user.present? && current_user.admin? %>
              <%= link_to "Edit", edit_theory_path(theory) %>
              <%= link_to "Delete", theory, method: :delete, data:	{confirm: "You sure?"} %>
            <% end %>
          <% end %>
      </ul>
      </div>
      <hr>
      <div class="part2">
        <h4>ЗАДАЧИ</h4>
        <ul>
          <% counter = 1%>
          <% @tasks.each do  |task|%>
            <li><%=counter%>. <%= task.content %></li>
            <% if current_user.present? && current_user.admin? %>
              <%= link_to "Edit", edit_task_path(task) %>
              <%= link_to "Delete", task, method: :delete, data:	{confirm: "You sure?"} %>
            <% end %>
            <% counter+=1%>
          <% end %>
         </ul>
      </div>
    </div>
  </div>
  
  <div class="col-md-8 console" >
    <textarea class="my-code-area" rows="10" id="console"style="width: 100%">print("hello world")</textarea>
    <div id="console_output" >
    </div>


    <button type="button" class="btn btn-success" name="button" id="button<%= Course.find(id=Part.find(id=@lesson.part_id).course_id).language %>"></button>
    
    <button type="button"  name="button" class="btn btn-primary" id="clear">clear</button>
    <%= render "partials/console" %>
  </div>

</div>

     <div class="clear"></div>

          </div>
          <div class="col-md-8 console" >
            <%if Task.where(:lesson_id=>@lesson.id).size != 0 %>
              <%if !Task.find_by_lesson_id(@lesson.id).exist_code %>
                 <textarea class="my-code-area" rows="10" id="console"style="width: 100%"></textarea>
              <%else%>
                <textarea class="my-code-area" rows="10" id="console"style="width: 100%"><%Task.where("lesson_id="+@lesson.id.to_s).each do|theory|%><%= theory.exist_code+"\n" %><%end%>
                </textarea>
              <%end%>
            <%else%>
              <textarea class="my-code-area" rows="10" id="console"style="width: 100%"></textarea>
            <%end%>
            
            <div id="console_output" ></div>
           <div class="button-panel">
             
              <button type="button" class="btn btn-success" name="button" id="button<%= Course.find(id=Part.find(id=@lesson.part_id)).language %>">
              </button>
              <button type="button"  name="button" class="btn btn-primary" id="clear">clear</button>
              <div class="success_panel">
              
              <%if Lesson.where(:part_id => @lesson.part_id).size > @lesson.lesson_order %>
                <a type="button"  name="button" class="btn btn-success" id="nextLesson" href="">Начать следующий урок</a>
                <%link_to "Далее",lesson_path(Lesson.where("part_id = ? and lesson_order = ?",@lesson.part_id,@lesson.lesson_order+1).id)%>
              <%else%>
              
              <%end%>
                <span>Урок успешно пройден <a id="closeSuccess">+</a></span>
                
              </div>
           </div>
              
            
              
              
             
            <%= render "partials/console" %>
          </div>

      </div>
      
      <div class="clear"></div>


     
