<script>
    
   
    $.ajax({
        type: "GET",
        dataType: "json",
        url: "/getlanguages",
        success: function(data){
            // console.log(data);
            var lang = []; // create an empty array

            
            
             for(var key in data.languages.codes) {
              
                lang.push({
                    key:   data.languages.codes[key],
                    value: data.languages.names[key]
                });
             }
             
            for(var i in lang) {
              var dict = lang[i].key;
              if($("#button"+lang[i].key).length){
                  
                  $("#button"+lang[i].key).html(lang[i].value);
                  
              }
              
            }
              
            
        }
    }); 
    
</script>
 <div class="add-part-button">
<%= link_to 'Добавить теорию', new_theory_path(:lesson_id => @lesson.id) %>
</div>

<div class="add-part-button">
  <%= link_to 'Добавить задание', new_task_path(:lesson_id => @lesson.id) %>
</div>
<div class="add-part-button">
  <%= link_to 'Назад', part_path(:id => @lesson.part_id) %>
</div>

<div class="lesson">
          <div class="col-md-2 taskpanel">
            <div class="lesson-name-block"><h3><%= @lesson.name %></h3></div>
            <div class="clear"></div>

            <div class="taskpanel2">
                <div class="part1">
                  <h4>ТЕОРИЯ</h4>
                  <ul>
                    <% counter = 1%>
                    <% @theories.each do  |theory|%>
                      <li> <%= theory.content %></li>
                      <% counter+=1%>
                      <% end %>
                      <% @theories.each do  |theory|%>
                      <li><%=theory.video%></li>
                      <% if current_user.admin? %>
                        <%= link_to "Edit", edit_theory_path(theory) %>
                        <%= link_to "Delete", theory, method: :delete, data:	{confirm: "You sure?"} %>
                      <% end %>
                    <% end %>
                </ul>
                </div>
                <hr>
                <div class="part2">
                  <h4>ЗАДАЧИ</h4>
                  <ul>
                    <% counter = 1%>
                    <% @tasks.each do  |task|%>
                      <li><%=counter%>. <%= task.content %></li>
                      <% if current_user.admin? %>
                        <%= link_to "Edit", edit_task_path(task) %>
                        <%= link_to "Delete", task, method: :delete, data:	{confirm: "You sure?"} %>
                      <% end %>
                      <% counter+=1%>
                    <% end %>
                   </ul>
                </div>
            </div>


          </div>
          <div class="col-md-8 console" >
            <% @tasks.each do  |task|%>
              <%if task.invisible_code?%>
               <input id="ivsCode" type="hidden" value="<%= task.invisible_code %>"></input>
               <%else%>
               <input id="ivsCode" type="hidden" value=""></input>
              <%end%>
            <% end %>
            
            <%if Task.where(lesson_id: @lesson.id).size != 0 %>
              <%if !@lesson.exist_code %>
                 <textarea class="my-code-area" rows="10" id="console"style="width: 100%"></textarea>
              <%else%>
                <textarea class="my-code-area" rows="10" id="console"style="width: 100%"><%= @lesson.exist_code %></textarea>
              <%end%>
            <%else%>
              <textarea class="my-code-area" rows="10" id="console"style="width: 100%"></textarea>
            <%end%>
            
            <div id="console_output" ></div>
          <div class="button-panel">
             
              <button type="button" class="btn btn-success" name="button" id="button<%= Course.find(id=@lesson.course_id).language %>">
              </button>
              <button type="button"  name="button" class="btn btn-primary" id="clear">clear</button>
              <div class="success_panel"></div>
           </div>
          <%= render "partials/console" %>
          </div>

      </div>
      
      <div class="clear"></div>

     
