<script>
    
   
    $.ajax({
        type: "GET",
        dataType: "json",
        url: "/getlanguages",
        success: function(data){
            // console.log(data);
            var lang = []; // create an empty array

            
            
             for(var key in data.languages.codes) {
              
                lang.push({
                    key:   data.languages.codes[key],
                    value: data.languages.names[key]
                });
             }
             
            for(var i in lang) {
              var dict = lang[i].key;
              if($("#button"+lang[i].key).length){
                  
                  $("#button"+lang[i].key).html(lang[i].value);
                  
              }
              
            }
              
            
        }
    }); 
    
</script>
 <div class="add-part-button">
<%= link_to 'Добавить теорию', new_theory_path(:lesson_id => @lesson.id) %>
</div>

<div class="add-part-button">
  <%= link_to 'Добавить задание', new_task_path(:lesson_id => @lesson.id) %>
</div>
<div class="add-part-button">
  <%= link_to 'Назад', part_path(:id => @lesson.part_id) %>
</div>

<div class="lesson">
          <div class="col-md-2 taskpanel">
            <div class="lesson-name-block"><h3><%= @lesson.name %></h3></div>
            <div class="clear"></div>

            <div class="taskpanel2">
                <div class="part1">
                  <h4>ТЕОРИЯ</h4>
                  <ul>
                    <% counter = 1%>
                    <% @theories.each do  |theory|%>
                      <li> <%= theory.content %></li>
                      <% counter+=1%>
                      <% end %>
                      <% @theories.each do  |theory|%>
                      <li><%=theory.video%></li>
                      <% if current_user.admin? %>
                        <%= link_to "Edit", edit_theory_path(theory) %>
                        <%= link_to "Delete", theory, method: :delete, data:	{confirm: "You sure?"} %>
                      <% end %>
                    <% end %>
                </ul>
                </div>
                <hr>
                <div class="part2">
                  <h4>ЗАДАЧИ</h4>
                  <ul>
                    <% counter = 1%>
                    <% @tasks.each do  |task|%>
                      <li><%=counter%>. <%= task.content %></li>
                      <% if current_user.admin? %>
                        <%= link_to "Edit", edit_task_path(task) %>
                        <%= link_to "Delete", task, method: :delete, data:	{confirm: "You sure?"} %>
                      <% end %>
                      <% counter+=1%>
                    <% end %>
                   </ul>
                </div>
            </div>


          </div>
          <div class="col-md-8 console" >
            <%if Task.where(:lesson_id=>@lesson.id).size != 0 %>
              <%if !Task.find_by_lesson_id(@lesson.id).exist_code %>
                 <textarea class="my-code-area" rows="10" id="console"style="width: 100%"></textarea>
              <%else%>
                <textarea class="my-code-area" rows="10" id="console"style="width: 100%"><%Task.where("lesson_id="+@lesson.id.to_s).each do|theory|%><%= theory.exist_code+"\n" %><%end%>
                </textarea>
              <%end%>
            <%else%>
              <textarea class="my-code-area" rows="10" id="console"style="width: 100%"></textarea>
            <%end%>
            
            <div id="console_output" ></div>
           <div class="button-panel">
             
              <button type="button" class="btn btn-success" name="button" id="button<%= Course.find(id=@lesson.course_id).language %>">
              </button>
              <button type="button"  name="button" class="btn btn-primary" id="clear">clear</button>
              <div class="success_panel">
              
              <%if Lesson.where(:course_id => @lesson.course_id).size > @lesson.lesson_order%>
                <%=link_to "Начать следующий урок",lesson_path(Lesson.find_by_lesson_order_and_part_id(@lesson.lesson_order+1,@lesson.part_id)), class:"btn btn-success", id:"nextLesson"%>
                <span>Урок успешно пройден <a id="closeSuccess">+</a></span>
              <%else%>
                <% if ProcessOfLesson.where(:user_to_course_id=> UserToCourse.where(:course_id=>@lesson.course_id,:user_id=>current_user.id)).size >= Lesson.where(:course_id=>@lesson.course_id).size%>
                  <a class="btn btn-success" id="endcourse"> Закончить курс </a>
                  <input type="hidden" value="<%= UserToCourse.find_by_user_id_and_course_id(current_user.id ,@lesson.course_id ).id%>" id="endcoursedata" >
                  <span>Курc успешно завершен<a id="closeSuccess">+</a></span>
                <%else %>
                  
                  <span>Пройди все части курса<a id="closeSuccess">+</a></span>
                <%end%>
              <%end%>
                
                
              </div>
           </div>
              
            
              
              
             
            <%= render "partials/console" %>
          </div>

      </div>
      
      <div class="clear"></div>

     
