<input type="hidden" id="refresh" value="no">
<script>
    $(document).ready(function(e) {
        var $input = $('#refresh');

        $input.val() == 'yes' ? location.reload(true) : $input.val('yes');
    });

    $.ajax({
        type: "GET",
        dataType: "json",
        url: "/getlanguages",
        success: function(data){
            // console.log(data);
            var lang = []; // create an empty array


             for(var key in data.languages.codes) {

                lang.push({
                    key:   data.languages.codes[key],
                    value: data.languages.names[key]
                });
             }

            for(var i in lang) {
              var dict = lang[i].key;
              if($("#button"+lang[i].key).length){

                  $("#button"+lang[i].key).html(lang[i].value);

              }

            }


        }
    });
</script>

<div class="container-fluid">
    <div class="row program program2">
      <div class="partners col-xs-12 col-md-12">
        <div class="logo">
          <%=image_tag "lion.png", width:"80px", height:"75px" %>
        </div>
        <div class="text">
          <center><p class="text1">ВЫПОЛНИТЕ УРОК</p></center>
          <center><p class="text2">ПРИ ВЫПОЛНЕНИИ УРОКА ИНДИКАТОР УРОВНЯ РАСТЕТ</p></center>
        </div>
        <div class="achievement">
          <p class="text3">ВАШ УРОВЕНЬ</p>
          <div id="myProgress">
          <div id="myBar"></div>
        </div>
        </div>
        <div class="wings">
          <p class="number">5</p>
          <%=image_tag "rai.png" %>
        </div>
      </div>
    </div>
</div>


<div class="blockchik">
  <% if current_user.admin? %>

    <div class="add-part-button">
      <%= link_to 'Добавить теорию', new_theory_path(:lesson_id => @lesson.id) %>
    </div>

    <div class="add-part-button">
      <%= link_to 'Добавить задание', new_task_path(:lesson_id => @lesson.id) %>
    </div>
    <div class="add-part-button">
      <%= link_to 'Добавить инстукцию', new_instruction_path(:lesson_id => @lesson.id) %>
    </div>
    <div class="add-part-button">
      <%= link_to 'Добавить материал', new_material_path(:lesson_id => @lesson.id) %>
    </div>
  <% end %>
  <div class="add-part-button">
    <%= link_to 'Назад', part_path(:id => @lesson.part_id) %>
  </div>
  <!-- Large modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg">Large modal</button>

  <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
       <%= render "partials/modal"%>
      
  
</div>

<div class="lesson">
          <div class="col-md-2 taskpanel">
            <div class="lesson-name-block"><h3><%= @lesson.name %></h3></div>
            <div class="clear"></div>

            <div class="taskpanel2">
                <div class="part1">
                  <h4>ТЕОРИЯ</h4>
                  <ul>
                    <% counter = 1%>
                    <% @theories.each do  |theory|%>
                      <li> <%= theory.content %></li>
                      <% counter+=1 %>
                      <% end %>
                      <% @theories.each do  |theory|%>
                      <li><%= theory.video %></li>
                      <% if current_user.admin? %>
                        <%= link_to "Edit", edit_theory_path(theory) %>
                        <%= link_to "Delete", theory, method: :delete, data:	{confirm: "You sure?"} %>
                      <% end %>
                    <% end %>
                </ul>
                </div>
                <% if current_user.admin? %>
                  <hr>
                  <div class="part2">
                    <h4>ЗАДАЧИ</h4>
                    <ul>
                      <% counter = 1%>
                      <% @tasks.each do  |task|%>
                        <li><%= counter %>. Ответ: <%= task.answer %></li>
                        <li>Невидымый код: <%= task.invisible_code %></li>
                        <% if current_user.admin? %>
                          <%= link_to "Edit", edit_task_path(task) %>
                          <%= link_to "Delete", task, method: :delete, data:	{confirm: "You sure?"} %>
                        <% end %>
                        <% counter+=1 %>
                      <% end %>
                     </ul>
                  </div>
                <% end %>
                <hr>
                <div class="part2">
                  <h4>ИНСТРУКЦИЙ</h4>
                  <ul>
                    <% counter = 1%>
                    <% @instructions.each do  |instruction|%>
                      <li><%=counter%>. <%= instruction.content %></li>
                      <% if current_user.admin? %>
                        <%= link_to "Edit", edit_instruction_path(instruction) %>
                        <%= link_to "Delete", instruction, method: :delete, data:	{confirm: "You sure?"} %>
                      <% end %>
                      <% counter+=1%>
                    <% end %>
                   </ul>
                </div>
                <hr>
                <div class="part2">
                  <h4>Материалы</h4>
                  <ul>
                    <% counter = 1%>
                    <% @materials.each do  |material|%>
                      <li><%=counter%>. <%= link_to material.file.original_filename, material.file.url %></li>
                      <% if current_user.admin? %>
                        <%= link_to "Edit", edit_material_path(material) %>
                        <%= link_to "Delete", material, method: :delete, data:	{confirm: "You sure?"} %>
                      <% end %>
                      <% counter+=1%>
                    <% end %>
                   </ul>
                </div>
            </div>


          </div>
          <div class="col-md-8 console" >

            <% @tasks.each do  |task|%>
              <%if task.invisible_code?%>
               <input id="ivsCode" type="hidden" value="<%= task.invisible_code %>"></input>
               <%else%>
               <input id="ivsCode" type="hidden" value=""></input>
              <%end%>
            <% end %>


            <%if !@lesson.exist_code %>
               <textarea class="my-code-area" rows="10" id="console"style="width: 100%"></textarea>
            <%else%>
              <textarea class="my-code-area" rows="10" id="console"style="width: 100%"><%= @lesson.exist_code %></textarea>
            <%end%>


            <div id="console_output" ></div>
          <div class="button-panel">
              <%if UserToCourse.exists?(user_id: current_user.id ,course_id: @lesson.course_id ) %>
                <button type="button" class="btn btn-success" name="button" id="button<%= Course.find(id=@lesson.course_id).language %>"></button>
                <button type="button"  name="button" class="btn btn-primary" id="clear">clear</button>
                <div class="success_panel"></div>
              <% else %>
                You need follow to this course!!!
              <% end %>
           </div>
          <%= render "partials/console" %>
          </div>

      </div>

      <div class="clear"></div>
