<body>
  <div class="add-new">
    <%= form_for @theory do |s| %>
    <div class="sub_category_creating">
      <%= s.label :Контент %><br>
      <%= s.text_field :content %>
    </div>
    <div class="sub_category_creating videomrg">
      <%= s.label :"Ссылка на видео" %><br>
      <%= s.text_field :video %>
    </div>
    <div class="sub_category_creating">
      <%= s.hidden_field :lesson_id, :value => params[:lesson_id] %>
    </div>
    <div class="sub_category_creating">
      <%= s.submit "Create Lesson", class: "btn btn-default"%>
    </div>
    <% end %>
  </div>
  
</body>
