<% provide :title, "Courses" %>

<div class="container-fluid">
    <h1 class="course1">Курсы по веб-разработке</h1>
    <div class="row web">
        <div class="col-xs-6 col-sm-4 col-md-2 block">
            <%= image_tag("android.png") %>
        </div>
        
        <div class="col-xs-6 col-sm-4 col-md-2 block">
            <%= image_tag("python.png") %>
        </div>
        
        <div class="col-xs-6 col-sm-4 col-md-2 block">
            <%= image_tag("ios.png") %>
        </div>
        
        <div class="col-xs-6 col-sm-4 col-md-2 block">
            <%= image_tag("ruby.png") %>
        </div>
        
        <div class="col-xs-6 col-sm-4 col-md-2 blockx">
            <%= image_tag("html.png") %>
        </div>
        
        <div class="col-xs-6 col-sm-4 col-md-2 blockx">
            <%= image_tag("js.png") %>
        </div>
        
        <div class="col-xs-6 col-sm-4 col-md-2 blockx">
            <%= image_tag("css.png") %>
        </div>
    </div>

</div>