
<% provide :title, "Courses" %>

<% if current_user.admin? %>
  <div class="add-part-button"><%= link_to 'Добавить курс', new_course_path() %></div>
<% end %>


<div class="container-fluid main">

      <div class="row">

          <div class="coursesx lefted">

              <% @courses.each do |course| %>
                <div class="item end">
                  <div class="top">
                    <div class="follow_status">
                      <%= render "partials/follow_status", object: course %>
                    </div>
                  </div>
                  <div class="middle">
                    <h4><%= link_to course.name, course, class:"course-name" %></h4>
                  </div>
                  <div class="border"></div>
                  <div class="desc">
                    <p><%=course.subtitle%></p>
                  </div>
                  <div class="bottomblue bottombluex">

                      


                    <div class="raiting">
                     <%= image_tag("Star-filled.png")%>
                      <%= image_tag("Star-filled.png")%>
                      <%= image_tag("Star-filled.png")%>
                      <%= image_tag("Star-filled.png")%>
                      <%= image_tag("Star-unfilled.png")%>

                    </div>
                    <%= link_to "Edit", edit_course_path(course) %>
                    <%= link_to "Delete", course, method: :delete, data:	{confirm: "You sure?"} %>
                  </div>

                </div>
              <% end %>

          </div>

      </div>

</div>
