<% provide :title, "Courses" %>

<div class="container-fluid">
    <h1 class="course1">Курсы по веб-разработке</h1>
    <center><div class="row web">
          <a href="https://www.google.kz/"><div class="col-xs-6 col-sm-4 col-md-2 block thumbnail">
              <%= image_tag("android.png") %>
          </div></a>

           <a href="#"><div class="col-xs-6 col-sm-4 col-md-2 block thumbnail">
               <%= image_tag("python.png") %>
           </div></a>

          <a href="#"><div class="col-xs-6 col-sm-4 col-md-2 block thumbnail">
              <%= image_tag("ios.png") %>
          </div></a>

          <a href="#"><div class="col-xs-6 col-sm-4 col-md-2 block thumbnail">
              <%= image_tag("ruby.png") %>
          </div></a>

          <a href="#"><div class="col-xs-6 col-sm-4 col-md-2 block thumbnail">
              <%= image_tag("html.png") %>
          </div></a>

          <a href="#"><div class="col-xs-6 col-sm-4 col-md-2 block thumbnail">
              <%= image_tag("js.png") %>
          </div></a>

          <a href="#"><div class="col-xs-6 col-sm-4 col-md-2 block thumbnail">
              <%= image_tag("css.png") %>
          </div></a>
          <a href="#"><div class="col-xs-6 col-sm-4 col-md-2 block thumbnail">
              <%= image_tag("ionic.png") %>
          </div></a>


    </div><center>

</div>
