<% provide :title, "Courses" %>


    <div class="container-fluid">
        <div class="row program program2">
          <div class="partners col-xs-12 col-md-12">
            <div class="logo">
              <%=image_tag "lion.png", width:"80px", height:"75px" %>
            </div>
            <div class="text">
              <p class="text1">ДОБРО ПОЖАЛОВАТЬ МОЙ ДРУГ</p>
              <p class="text2">ВЫБЕРИ КУРСЫ КОТОРЫЕ ТЕБЕ ПО ДУШЕ</p>
            </div>
            <div class="achievement">
              <p class="text3">ВАШ УРОВЕНЬ</p>
              <div id="myProgress">
              <div id="myBar"></div>
 </div>
            </div>
            <div class="wings">
              <p class="number">5</p>
              <%=image_tag "rai.png" %>
            </div>
          </div>
        </div>
    </div>

<% if current_user.present? && current_user.admin? %>
  <div class="add-part-button"><%= link_to 'Добавить курс', new_course_path() %></div>
<% end %>


<div class="container-fluid main">
  <div class="row">
    <div class="coursesx lefted animated bounce">

      <% @courses.each do |course| %>

        <div class="item end">
          <div class="top">
            <% if current_user.present? %>
              <div id="follow_status_<%= course.id %>" class="follow_status">
                <% if @userToCourses.exists?(course_id: course, user_id: current_user) %>
                  <% if @userToCourses.find_by_course_id(course.id).progress != 1 %>
                    <%= @processOfLessons.where(user_to_course_id: @userToCourses.find_by_course_id(course.id)).size.to_f/@lessons.where(course_id: course).size*100%>%
                  <% end %>
                <% end %>
                <%= render "partials/follow_status", object: course %>
              </div>
            <% end %>
          </div>

          <div class="middle">
            <h4><%= link_to course.name, course, class:"course-name" %></h4>
          </div>

          <div class="border"></div>

          <div class="desc">
            <p><%=course.subtitle%></p>
          </div>

          <div class="bottomblue bottombluex">



            <% if current_user.present? && current_user.admin? %>
              <%= link_to "Edit", edit_course_path(course), class: "admin-button" %>
              <%= link_to "Delete", course, method: :delete, data:	{confirm: "You sure?"}, class: "admin-button" %>
            <% end %>

          </div>
        </div>

      <% end %>

    </div>

  </div>

</div>
