
<% if !user_signed_in? %>
  <h2>'ídi nahui'</h2>
<%end%>
<% provide :title, "Courses" %>

<div class="container-fluid main">
      <div class="row">
        <div class="coursesx lefted">
            <% @courses.each do |course| %>
              <div class="item end">
                <div class="top">
                  <a href="#">Повторить</a>
                </div>
                <div class="middle">
                  <h4><%= link_to course.name, course, class:"course-name" %></h4>
                </div>
                <div class="border"></div>
                <div class="desc">
                  <p><%=course.subtitle%></p>
                </div>
                <div class="bottomblue bottombluex">
                  <div class="raiting">
                   <%= image_tag("Star-filled.png")%>
                    <%= image_tag("Star-filled.png")%>
                    <%= image_tag("Star-filled.png")%>
                    <%= image_tag("Star-filled.png")%>
                    <%= image_tag("Star-unfilled.png")%>

                  </div>
                </div>

              </div>
            <% end %>
        </div>
      </div>
    </div>
</div>
