<div class="course-photo-container attention">


        <div class="carousel-inner" role="listbox">
          <div class="item active">
              <div id="overlay2" class="overlay"></div>
              <div class="image2"style="background-image: url('https://4.bp.blogspot.com/-pigPfRWS3Sw/VWX-feGd7II/AAAAAAABjLE/K3JemRkjclI/s0/Coding_with_Style_wallpaper.jpg');
              background-size: cover;"></div>

          </div>

        </div>

        <div class="course-info">
            <h2 class="course-title"><%= @course.name %></h2>
            <div class="raiting">
              <%= image_tag("Star-unfilled.png")%>
              <%= image_tag("Star-unfilled.png")%>
              <%= image_tag("Star-unfilled.png")%>
              <%= image_tag("Star-filled.png")%>
              <%= image_tag("Star-filled.png")%>

            </div>
            <h3 class="course-title-x"><%= @course.title%></h3>
            <a  class="btn btn-default startx" href="<%= root_path %>" role="button">НАЧАТЬ КУРС</a>
        </div>

</div>
<div class="course-sylabus-container">

    <h1 class="course-title">Описание курса</h1>
    <p class="course-title"><%= @course.description %></p>

</div>
<div class="course-sylabus-container">

    <h1 class="course-title">План курса</h1>
    <% if current_user.present? && current_user.admin? %>
      <div class="add-part-button"><%= link_to 'Добавить главу', new_part_path(:course_id => @course.id) %></div>
    <% end %>
    <div class="part-name">
      <% @parts.each do  |part|%>
          <ul>
            <li>
            <%= link_to part.name, part, class:"parts-name" %>
            <% if current_user.present? && current_user.admin? %>
              <%= link_to "Edit", edit_part_path(part), class:"add-part-button" %>
              <%= link_to "Delete", part, method: :delete, data:	{confirm: "You sure?"}, class:"add-part-button"%>
            <% end %>
            </li>
          </ul>

      <% end %>
    </div>

</div>


<!-- <div id="overlay" class="overlay">

</div>
<div class="course-photo" style="background:url(http://blog.efpsa.org/wp-content/uploads/2016/07/python-programming-in-psychology-analysis-data-expyriment.jpg);background-size:cover;">
    <div class="course-info">
        <h2 class="course-title"><%= @course.name %></h2>
        <div class="raiting">
          <%= image_tag("Star-unfilled.png")%>
          <%= image_tag("Star-unfilled.png")%>
          <%= image_tag("Star-unfilled.png")%>
          <%= image_tag("Star-filled.png")%>
          <%= image_tag("Star-filled.png")%>

        </div>
        <h3 class="course-title-x"><%= @course.title %></h3>
        <a  class="btn btn-default startx" href="<%= root_path %>" role="button">НАЧАТЬ КУРС</a>
    </div>
</div> -->
