

<div class="blockchik">
  <div class="container-fluid">
      <div class="row program">
        <div class="partners col-xs-12 col-md-12">
          <div class="logo">
            <%=image_tag "lion.png", width:"80px", height:"75px" %>
          </div>
          <div class="text">
            <p class="text1">НАЧНИТЕ ЭТОТ КУРС</p>
            <p class="text2">ПОДНИМИТЕ СЕБЕ УРОВЕНЬ ПРОЙДЯ КУРС</p>
          </div>
          <div class="achievement">
            <p class="text3">ВАШ УРОВЕНЬ</p>
            <div id="myProgress">
            <div id="myBar"></div>
</div>
          </div>
          <div class="wings">
            <p class="number">5</p>
            <%=image_tag "rai.png" %>
          </div>
        </div>
      </div>
  </div>

  <% if current_user.present? && current_user.admin? %>
      <%= link_to "Изменить", edit_course_path(@course), class: "admin-btn" %>
      <%= link_to "Удалить", @course, method: :delete, data:	{confirm: "You sure?"}, class: "admin-btn" %>
    <% end %>
    <%= link_to 'Назад', courses_path, class: "admin-btn"%>

</div>
<div class="course-photo-container attention">


  <div class="carousel-inner" role="listbox">
    <div class="item active">
        <div id="overlay2" class="overlay"></div>
        <div class="image2"style="background-image: url('https://4.bp.blogspot.com/-pigPfRWS3Sw/VWX-feGd7II/AAAAAAABjLE/K3JemRkjclI/s0/Coding_with_Style_wallpaper.jpg');
        background-size: cover;"></div>
    </div>
  </div>

  <div class="course-info">
      <h2 class="course-title"><%= @course.name %></h2>

      <h3 class="course-title-x"><%= @course.title%></h3>

      <% if @lessons.size == 0 %>
        <div class="course-title-x">Пока что вы не можете начать курс ,так как отсутствуют уроки</div>
      <% elsif @start.size == @lessons.size %>
        <%= link_to 'ПОВТОРИТЬ КУРС', @start_course, class:"btn btn-default startx" %>
      <% elsif @start.size != 0 %>
        <%= link_to 'ПРОДОЛЖИТЬ КУРС', lesson_path(@lessons.where("course_id = ? AND lesson_order > ?", @last.course_id, @last.lesson_order).first), class:"btn btn-default startx" %>
      <% elsif current_user.following?(@course.id) %>
        <%= link_to 'НАЧАТЬ КУРС', @start_course, class:"btn btn-default startx" %>
      <% else %>
        <%= link_to 'НАЧАТЬ КУРС', user_to_courses_path(course_id: @course.id), method: :post, class:"btn btn-default startx" %>
      <% end %>
  </div>

</div>
<div class="course-sylabus-container">

    <h1 class="course-title">Описание курса</h1>
    <p class="course-title"><%= @course.description %></p>

</div>
<div class="course-sylabus-container">

    <h1 class="course-title">План курса</h1>
    <% if current_user.present? && current_user.admin? %>
      <div class="add-part-button"><%= link_to 'Добавить главу', new_part_path(:course_id => @course.id) %></div>
    <% end %>
    <div class="part-name">
      <% @parts.each do  |part|%>
          <ul>
            <li>
            <%= link_to part.name, part, class:"parts-name" %>
            <% if current_user.present? && current_user.admin? %>
              <%= link_to 'Добавить урок', new_lesson_path(:course_id => part.course_id, :part_id => part.id),  class:"add-part-button"  %>
            <% end %>
            <% if current_user.present? && current_user.admin? %>
              <%= link_to "Edit", edit_part_path(part), class:"add-part-button" %>
              <%= link_to "Delete", part, method: :delete, data:	{confirm: "You sure?"}, class:"add-part-button"%>
            <% end %>
            </li>
          </ul>
          <% part.lessons.each do  |lesson|%>
            <ul>
              <li>
              <%= link_to lesson.name, lesson, class:"lessons-name" %>
              <% if current_user.present? && current_user.admin? %>
                <%= link_to "Edit", edit_lesson_path(lesson), class:"add-part-button" %>
                <%= link_to "Delete", lesson, method: :delete, data:	{confirm: "You sure?"}, class:"add-part-button"%>
              <% end %>
              </li>
            </ul>
          <% end %>

      <% end %>
    </div>

</div>


<!-- <div id="overlay" class="overlay">

</div>
<div class="course-photo" style="background:url(http://blog.efpsa.org/wp-content/uploads/2016/07/python-programming-in-psychology-analysis-data-expyriment.jpg);background-size:cover;">
    <div class="course-info">
        <h2 class="course-title"><%= @course.name %></h2>
        <div class="raiting">
          <%= image_tag("Star-unfilled.png")%>
          <%= image_tag("Star-unfilled.png")%>
          <%= image_tag("Star-unfilled.png")%>
          <%= image_tag("Star-filled.png")%>
          <%= image_tag("Star-filled.png")%>

        </div>
        <h3 class="course-title-x"><%= @course.title %></h3>
        <a  class="btn btn-default startx" href="<%= root_path %>" role="button">НАЧАТЬ КУРС</a>
    </div>
</div> -->
